<launch>
    <!-- 打开二维激光传感器 -->
    <arg name="2dsensor"  default="$(optenv SENSOR_2D rplidar)"/>
  <!-- rplidar, hokuyo -->
  <arg name="use_filter" default="$(optenv USE_FILTER false)"/>
  
  <include file="$(find aicroboxi_bringup)/launch/includes/$(arg 2dsensor)_2d_sensor.launch.xml">
    <arg if="$(arg use_filter)" name="scan_topic" value="scan_raw" />
    <arg name="laser_frame" value="laser_link" />
    <!-- if need change port -->
    <!--arg name="laser_port" value="/dev/ttyUSB1" /-->
  </include>
  
  <include if="$(arg use_filter)" file="$(find aicroboxi_bringup)/launch/includes/laser_filter.launch.xml">
    <arg name="scan_in" value="scan_raw"/>
    <arg name="scan_out" value="scan"/>
  </include>
    <!-- 打开机器人底盘 -->
    <arg name="mobile_base" default="$(optenv MOBILE_BASE create)"/>
  <!-- create, kobuki -->
  <arg name="base_port" default="$(optenv BASE_PORT /dev/ttyUSB0)"/>
  <!-- /dev/ttyUSB0, /dev/ttyS0 -->
  
  <param name="/use_sim_time" value="false"/>
  
  <!-- mobile base setting -->
  <include file="$(find aicroboxi_bringup)/launch/includes/$(arg mobile_base)/mobile_base.launch.xml">
    <arg name="base_port" value="$(arg base_port)" />
  </include>
  
  <!-- aicroboxi_description -->
  <include file="$(find aicroboxi_description)/launch/robot_description.launch.xml">
    <arg name="mobile_base" value="$(arg mobile_base)" />
  </include>
  <!-- 启动gampping -->
  <arg name="move_base_group" default="turtlebot" />
  <include file="$(find aicroboxi_nav)/launch/includes/gmapping.launch.xml" />
  <include file="$(find aicroboxi_nav)/launch/includes/move_base.launch.xml">
    <arg name="move_base_group" value="$(arg move_base_group)"/>
  </include>
  
  
  <!-- 启动rviz -->
  <!-- Fire up AMCL -->
  <include file="$(find aicroboxi_nav)/launch/includes/amcl.launch.xml" />
  
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aicroboxi_rviz)/rviz/nav.rviz" />
  
  <!-- add interactive_marker -->
  <include file="$(find aicroboxi_rviz)/launch/includes/interactive_marker.launch.xml" />
  
    <!-- 启动keyboard -->
  <arg name="cmd_vel" default="key_cmd_vel" />
  <node pkg="aicroboxi_teleop" type="keyboard_teleop.py" name="keyboard_teleop"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="cmd_vel" to="$(arg cmd_vel)"/>
  </node>
</launch>